<div class="toolbar" fxLayout="row">

  <div fxLayout="row" fxLayoutAlign="start center" fxHide.gt-sm>
    <button type="button" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logo-contrast" *ngIf="sidenavCollapsed" fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-sm>
    <img class="logo" alt="logo" src="{{options.logoPath?.toolbarAlpha}}">
  </div>

  <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutAlign.gt-sm="space-between stretch" fxFlex>
    <div *ngIf="options.toolbarSearch.enabled" class="search-bar" fxHide fxShow.gt-sm fxLayout="row" fxLayoutAlign="start center"
      fxFlex fxFlex.gt-md="500px">
      <dbs-search-bar></dbs-search-bar>
    </div>

    <div fxLayout="row" fxFlexOffset.gt-sm="24px">
      <dbs-search *ngIf="options.toolbarSearch.enabled" fxShow fxHide.gt-sm></dbs-search>

      <dbs-toolbar-notifications *ngIf="options.toolbarNotification.enabled"></dbs-toolbar-notifications>

      <dbs-toolbar-user-button *ngIf="options.toolbarUserButton.enabled"></dbs-toolbar-user-button>

      <button *ngIf="options.quickpanel.enabled" mat-button class="quickpanel-button icon-button" [class.open]="quickpanelOpen"
        (click)="toggleQuickpanel()">
        <mat-icon class="icon">format_align_right</mat-icon>
      </button>
    </div>
  </div>
</div>