<div class="container" fxLayout="column" fxLayoutAlign="start center" style="height: 100%;">
    <h1>
        <mat-icon class="middle">format_shapes</mat-icon> CRUD List</h1>
    <div class="editor-container mat-elevation-z16">
        {{message}}
        <button type="button" (click)="test()">test</button>
        <button type="button" (click)="test1()">test1</button>
    </div>
</div>
<vr-page-container [pageName]="message">
    <button type="button" (click)="test()">test</button>
    <button type="button" (click)="test1()">test1</button>
    <!-- <vr-table-container [name]="message" [isLoadingResults]="loading">
        <header>asdfasdf</header>
    </vr-table-container> -->
</vr-page-container>